<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head.ejs') %>
  
</head>
<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <div id="container-404" class="container">
      <div class="row">
        <div class="col s8 push-s2">
          <img class="responsive-img center-align" src="/images/not-found/403_forbidden.svg" alt="403 forbidden">
        </div>
      </div>
      <div class="row">
        <p class="flow-text center-align">Solo los administradores puede acceder aquí.</p>
      </div>
    </div>
  </main>
    
  <%- include('./partials/footer.ejs') %>
  
</body>
</html>